.aside {
    /* width: 150px; */
    min-height: 100%;
    background-color:blanchedalmond;
    display: flex;
    flex: 0 0 150px;    
}

.aside ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center; 
    padding: 15px;     
}

.aside a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;   
    text-decoration: none;                
}

