.usersAll {
    background-color:darkcyan;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    color:yellow;
}

.usersAll h2 {
    color: rgba(253, 253, 0, 0.8);
    text-align: center;    
    text-transform: uppercase;     
}

.userRow {
    padding: 10px;
    margin: 10px;
    display: flex;
}

.userInfo {
    flex-grow: 1;
}

.btn {
    background: transparent;
    color:yellow;
    font-weight: bold;
    /* border: 1px solid yellow; */
}