.SignIn {
    background-color: rgb(95, 79, 5); 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;               
}

.SignIn form {
    font-size: 36px;    
}

.SignIn form input {    
    display: block;
    font-size: 36px;       
    background-color:yellowgreen;     
}

.SignIn form input[type=submit] {
    color:blue;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 45%;
}







