.clock {
    width: 100%;
    /* height: 100%; */
    background-color: rgb(252, 199, 130);
    font-size: 200px;
    color:red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}