.main {
    background-color: #51ede4;    
    display: flex;
    padding: 20px; 
    flex: 1 0 auto; 
    padding: 0;    
}

.content {
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(100% - 150px);
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 18px;
}