.content {
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(100% - 150px);
    padding: 20px;
}

.text2 {
    color: red;
    font-style: italic;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 18px;
}

.heading2 {
    text-align: center;
    color: blue;
}