.footer {
    background-color: rgb(165, 153, 153);    
    font-size: 18px;    
    text-transform: uppercase;
    display: flex;    
    flex-wrap: wrap;
    padding-left: 40px;         
       
}

.footer .text  {
    display: flex;       
    flex: 0 0 calc(100% / 3);
}

@media screen and (min-width: 768px) {
    .footer .text {
        justify-content: space-around;              
    }    
}