.allResources {    
    background-color:darkkhaki;
    padding-left: 20px;
}

.allResources h2 {
    color:darkred;
    text-align: center;
}

.allResources p {
    line-height: 1.5;
    color:#fff;
}